.projects-container {
    background-color: var(--dark-grey);
}

.container {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    margin: 1rem auto;
    gap: 4rem;
    max-width: 60rem;
}

.project-card:hover .card-overlay {
    opacity: 1;
}



.project-name {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.project-card {
    position: relative;
    max-width: 20rem;
}

.project-card a {
    color: var(--white);
}

.project-img {
    min-height: 13rem;
    max-height: 13rem;
    min-width: 17rem;
    max-width: 17rem;
    border-radius: var(--border-radius)
}


.card-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2.25rem;
    bottom: 0.2rem;
    left: 0;
    right: 0;
    transition: .5s ease;
    background-color: var(--transparent-black);
    opacity: 0;
}

.project-icons {
    margin: 0 1.5rem;
    min-height: 4rem;
    min-width: 4rem;
}

.project-icons:hover {
    background-color: var(--icon-hover);
}