.project-card:hover .card-overlay {
    opacity: 1;
}


.project-icons {
    margin: 0 1.5rem;
    min-height: 4rem;
    min-width: 4rem;
}

.project-icons:hover {
    background-color: var(--icon-hover);
}