.home-container {
    background-color: var(--black);
    min-height: 65rem;
    display: grid;
    place-content: center;
}

.header-container {
    position: relative;
    bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

/* Header */
.header {
    font-size: 3rem;
    font-weight: 700;
}


@media screen and (min-width:500px) {
    .header {
        font-size: 4.5rem;
    }
}


@media screen and (min-width:780px) {
    .header {
        font-size: 6rem;
    }
}




/* Sub-Heading */
@media screen and (max-width:500px) {
    .sub-heading {
        font-size: 1.3rem;
    }
}


@media screen and (min-width:500px) {
    .sub-heading {
        font-size: 1.75rem;
    }
}

@media screen and (min-width:780px) {
    .sub-heading {
        font-size: 2rem;
    }
}


/* Dynamic Quote */
.dynamic-quote {
    margin: 1rem auto 0;
    font-size: 1rem;
    /* max-width: 40rem; */
    font-weight: 400;
    position: relative;
    color: var(--red);
}

@media screen and (min-width:500px) {
    .dynamic-quote {
        font-size: 1.25rem;
    }
}

@media screen and (min-width:780px) {
    .dynamic-quote {
        font-size: 2rem;
    }
}





h4::before,
h4::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

h4::before {
    background: var(--black);
    animation: typewriter 3.5s steps(30) 1s forwards;
}

h4::after {
    width: .25rem;
    background: var(--white);
    animation: typewriter 3.5s steps(30) 1s forwards, blink 1.5s steps(30) infinite;
}

@keyframes typewriter {



    to {
        left: 100%;
    }


}



@keyframes blink {
    to {
        background: transparent;
    }
}