/* Main nav container */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-width: 100%;
    position: fixed;
    background-color: var(--transparent-black);
    z-index: 100;
    backdrop-filter: var(--nav-blur);

}

.nav-container img {
    max-width: 5rem;
}


/* Open menu for mobile */
.open-menu-mobile {
    min-width: 4rem;
    min-height: 2rem;
    cursor: pointer;
    color: var(--red);
}

@media screen and (min-width:780px) {
    .open-menu-mobile {
        display: none;
    }
}



/* Navigation for mobile*/
.mobile-nav-slider {
    position: relative;
}


@media screen and (min-width:780px) {
    .mobile-nav-slider {
        display: none;
    }
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 10rem;
    min-height: 55rem;
    text-decoration: underline;
    text-underline-offset: var(--text-underline-spacing);
    right: 0;
    top: 5rem;
    position: fixed;
    background-color: var(--transparent-black);
    backdrop-filter: var(--nav-blur);
    z-index: 100;
}

.mobile-nav-links {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--red);
}


.mobile-nav-links a {
    color: var(--red);
}


/* Displays and hides the mobile navigation slider */
.active {
    display: block;
}

@media screen and (min-width:780px) {
    .active {
        display: none;
    }
}

.hidden {
    display: none;
}

/* Navigation for desktop */
.desktop {
    display: flex;
    justify-content: space-around;
    min-width: 30rem;
}

.desktop-nav-links a {
    color: var(--white);
}


@media screen and (max-width:779px) {
    .desktop {
        display: none;
    }
}