@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #fff;
  --icon-hover: rgba(31, 31, 31, 0.466);
  --black: #121111;
  --transparent-black: #12111193;
  --dark-grey: #383838;
  --red: #ff4545;
  --transparent-red: #ff454580;
  --nav-blur: blur(4px);
  --text-underline-spacing: 8px;
  --border-radius: 10px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--black);
}


/* Global Styles */
.max-container-width {
  max-width: 90%;
  margin: auto;
  padding: 2rem 1rem;
}

@media screen and (min-width:1200px) {
  .max-container-width {
    max-width: 65rem;
  }
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  text-decoration: underline;
  text-underline-offset: var(--text-underline-spacing)
}

@media screen and (min-width:780px) {
  .section-title {
    font-size: 2.25rem;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}