/* Main component container */
.about-container {
    background-color: var(--black);
}


/* Max width container */
.about {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
}


@media screen and (min-width:780px) {
    .about {
        flex-direction: row;
    }
}


/* Image container */

@media screen and (min-width:780px) {
    .about-img-container {
        order: 2;
    }
}

.about-img-container {
    margin: auto;
    display: flex;
}

.john-img {
    max-width: 16rem;
    margin-top: 2rem;
    max-height: 25rem;
    box-shadow: 1px 1px 4px 4px var(--black);
}


@media screen and (min-width:548px) {
    .john-img {
        max-width: 18rem;

    }
}

@media screen and (min-width:1200px) {
    .john-img {
        max-width: 22rem;
    }
}

/* Text container */
.about-text-container {
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (min-width:780px) {
    .about-text-container {
        text-align: left;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 1;
    }
}


/* Section title */
.name {
    font-weight: 400;
    margin-bottom: 1rem;
}


.about-description {
    font-size: 1.2rem;
    max-width: 40rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}


@media screen and (min-width:780px) {
    .about-description {
        min-height: 10rem;
        line-height: 2;
        min-width: 15rem;
    }
}


.download-cv {
    text-decoration: none;
    background-color: var(--red);
    max-width: 8rem;
    text-align: center;
    color: var(--white);
    padding: .7rem .5rem;
    cursor: pointer;
    position: relative;
}

.download-cv:hover {
    transform: scale(1.2);
}